## Midterm: Question #3 Association Rule

Q: Find all association rules with a minimum support of 0.6 (3/5) and a minimum confidence of 0.8 (4/5). Consider only 2-item itemsets.

In [1]:
import pandas as pd

In [2]:
f = "data/question3.xlsx"
df = pd.read_excel(f)

In [3]:
df.head()

   Bread  Milk  Diapers  Beer  Eggs  Coke
0      1     1        0     0     0     0
1      1     0        1     1     1     0
2      0     1        1     1     0     1
3      1     1        1     1     0     0
4      1     1        1     0     0     1

In [4]:
from mlxtend.frequent_patterns import apriori

In [5]:
support_threshold = 0.6

frequent_itemsets = apriori(df, min_support=support_threshold, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [6]:
# All itemsets that meets the minimum support threshold
frequent_itemsets.sort_values(by=['support'],ascending=False)

   support          itemsets  length
0      0.8           (Bread)       1
1      0.8            (Milk)       1
2      0.8         (Diapers)       1
3      0.6            (Beer)       1
4      0.6     (Milk, Bread)       2
5      0.6  (Diapers, Bread)       2
6      0.6   (Diapers, Milk)       2
7      0.6   (Beer, Diapers)       2

In [7]:
# 2-itemsets that meets the minimum support threshold
frequent_itemsets[(frequent_itemsets['length'] == 2)].sort_values(by=['support'],ascending=False)

   support          itemsets  length
4      0.6     (Milk, Bread)       2
5      0.6  (Diapers, Bread)       2
6      0.6   (Diapers, Milk)       2
7      0.6   (Beer, Diapers)       2

In [8]:
from mlxtend.frequent_patterns import association_rules

In [9]:
confidence_threshold = 0.8

association_rules(frequent_itemsets, metric="confidence", min_threshold=confidence_threshold).sort_values(by=['confidence'], ascending=False).head()[['antecedents','consequents','support','confidence','lift']]

  antecedents consequents  support  confidence  lift
0      (Beer)   (Diapers)      0.6         1.0  1.25

A: The only association rule that meets the criteria of a minimum support of 0.6 and a minimum confidence of 0.8 is **{Beer} -> {Diapers}**.